#clientId same as integration id is connected to the docusign app that is in the list of apps
clientId=5b638954-37a9-4d24-afef-88c0dd6f4ad9
#userId is associated with the user in docusign like flatbushintakes, or sfriedman.  
userId=9b6d920d-b0b5-44c0-ab95-b109666bf7cb
#this key comes from the app
#private key is different for development and production and has to be generated
rsaKeyFile=prod-private.key
env=dev
#below, in the URL is the interborough account id
baseURL=https://na4.docusign.net/restapi/v2.1/accounts/6543288/
apiRESTUrl=https://na4.docusign.net/restapi
DocuSignAccount=account.docusign.com
#the templateid is different for production and development
templateID=0d44a8d9-a089-4ba7-8f26-9ef03bd64a2e
templateName=English Intake Adult Package Bulk Send Updated
csvFile=c:/temp/test.csv
senderEmail=flatbushintakes@interborough.org
envelopesStartDate=2024-08-01T01:44Z
