#clientId same as integration id is connected to the docusign app that is in the list of apps
clientId=acba426a-f13a-4f18-bfac-28da1364c70d
#userId is associated with the user in docusign like flatbushintakes, or sfriedman.  
userId=f34fac65-75e8-4500-bc94-579af91eaaf7
#this key comes from the app
#private key is different for development and production and has to be generated
rsaKeyFile=dev-canarsie-private.key
env=dev
#below, in the URL is the interborough account id
baseURL=https://demo.docusign.net/restapi/v2.1/accounts/29172797/
apiRESTUrl=https://demo.docusign.net/restapi
DocuSignAccount=account-d.docusign.com
#the templateid is different for production and development
templateID=0f098186-9c11-40fb-b2b2-0b3e29818c1c
templateName=English Intake Adult Package
csvFile=c:/temp/test.csv
senderEmail=canariseintakes@interborough.org
batchName=Automated English Intake Adult Package Bulk
organizationId=1005