#clientId is connected to the docusign app.  tihs is also known as the integration id and is found in apps and keys
clientId=4f043f9c-7429-46e0-9382-03f51c50faee
#userid is found under account information
userId=f34fac65-75e8-4500-bc94-579af91eaaf7
rsaKeyFile=dev-private.key
env=dev
Docusign=https://developers.docusign.com/platform/auth/consent
#below is the interborough account id.  this is found on the top left under apps and keys
baseURL=https://demo.docusign.net/restapi/v2.1/accounts/29172797/
apiRESTUrl=https://demo.docusign.net/restapi
DocuSignAccount=account-d.docusign.com
templateID=47ad4d52-0bf2-4ffb-864e-ac8488704b15
apiMonitorURL=https://lens-d.docusign.net/api/v2.0/datasets/monitor/stream?limit=1
templateName="English Intake Adult Package Bulk Send Updated"
organizationId=1007