#clientId same as integration id is connected to the docusign app that is in the list of apps
clientId=211597e0-6953-46b6-ba57-f65d46053be1
#userId is associated with the user in docusign like flatbushintakes, or sfriedman.  
userId=f34fac65-75e8-4500-bc94-579af91eaaf7
#this key comes from the app
#private key is different for development and production and has to be generated
rsaKeyFile=dev-williamsburg-private.key
env=dev
#below, in the URL is the interborough account id
baseURL=https://na4.docusign.net/restapi/v2.1/accounts/6543288/
apiRESTUrl=https://na4.docusign.net/restapi
DocuSignAccount=account.docusign.com
#the templateid is different for production and development
templateID=3a2345ca-54c9-4459-80e0-d3c9dc7c997d
templateName=English Intake Adult Package Bulk Send Updated
csvFile=c:/temp/test.csv
senderEmail=williamsburgintakes@interborough.org
batchName=Automated English Intake Adult Package Bulk Send Updated
organizationID=1008
organization=Williamsburg