#clientId same as integration id is connected to the docusign app that is in the list of apps
clientId=acba426a-f13a-4f18-bfac-28da1364c70d
#userId is associated with the user in docusign like flatbushintakes, or sfriedman.  
userId=c580af6b-30f4-47bd-a04c-500925b7644b
#this key comes from the app
#private key is different for development and production and has to be generated
rsaKeyFile=keys/prod-coney-private.key
env=prod
#below, in the URL is the interborough account id
baseURL=https://na4.docusign.net/restapi/v2.1/accounts/6543288/
apiRESTUrl=https://na4.docusign.net/restapi
DocuSignAccount=account.docusign.com
#the templateid is different for production and development
templateID=0d44a8d9-a089-4ba7-8f26-9ef03bd64a2e
templateName=English Intake Adult Package Bulk Send Updated
csvFile=c:/temp/test.csv
senderEmail=coneyislandintakes@interborough.org
batchName=Automated English Intake Adult Package Bulk Send Updated
organizationID=1067
organization=Coney
